$button-border-color: #0A3055;

.site-language-selection-button {
  color: $button-border-color;
  border-color: $button-border-color;
  border-radius: 0.375rem;
  background-color: transparent;
  font-weight: 400;

  &:focus::before {
    border: solid 2px $button-border-color;
    border-radius: calc(0.375rem + 4px);
  }
}

.toolbar-divider {
  padding-left: 8px;
  border-left: 1px solid #eaeaea;
}
