@import "~@edx/brand/paragon/fonts.scss";
@import "~@openedx/paragon/scss/core/core.scss";

.zIndex-2 {
  z-index: 2 !important;
}

#pgn__checkpoint {
  z-index: 1 !important;
}

.cursor-pointer {
  cursor: pointer;
}

#notificationIcon {
  .plus-icon {
    margin-top: -0.5px;
  }

  .notification-button {
    &:focus,
    &:active {
      box-shadow: inset 0 0 0 2px $primary-500 !important;
    }

    &:focus,
    &:active,
    &:hover {
      background-color: $light-300 !important;
    }

    span:first-child {
      margin: 0px !important;
    }
  }

  .notification-lg-bell-icon {
    width: 56px !important;
    height: 56px !important;

    span:first-child {
      width: 32px !important;
      height: 32px !important;
    }
  }

  .notification-button.btn-icon-light-active {
    background-color: $light-300 !important;
  }

  .notification-badge {
    position: absolute;
    border: 2px solid #FFFFFF;
    font-size: $h6-font-size !important;
    font-weight: $font-weight-semi-bold !important;
    font-variant-numeric: lining-nums tabular-nums;
    background: var(--text-on-light-brand-500, $brand-500) !important;
    line-height: 20px !important;
    margin-left: -21px;
  }

  .notification-badge-unrounded {
    min-width: 23px !important;
    height: 16px;
    min-height: 16px !important;
    border-radius: 54px !important;
  }

  .notification-badge-rounded {
    border-radius: 50%;
    margin-top: 1px;
    height: 20px;
    min-height: 20px !important;
    width: 20px !important;
    min-width: 20px !important;
  }
}

#notificationTray {
  filter: none;
  box-shadow: $box-shadow-down-2;

  .popover-header {
    top: 0px;
  }

  .tabs {
    top: 0px;
  }

  &.medium-screen {
    min-width: 34.313rem;
  }

  &.large-screen {
    min-width: 34.313rem;
  }

  &.popover-margin-top {
    margin-top: -60px !important;
  }

  &.height-100vh {
    height: 100vh;
  }

  &.height-91vh {
    height: 91vh;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .expandable {
    position: relative !important;
    margin-left: 4px;
    padding: 2px 5px;
    border-radius: 10rem;
    font-size: 9px;
  }

  .dropdown-toggle {
    font-size: $h5-font-size;
    padding-top: 0px !important;
    padding-bottom: 12px !important;

    div {
      min-height: 6px !important;
      min-width: 6px !important;
    }
  }

  .dropdown-item {
    font-size: $h5-font-size;
    font-weight: $font-weight-semi-bold;
  }

  .notification-content {
    .notification-item-content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      p {
        margin-bottom: 0px;
      }

      b {
        color: $primary-500;
      }
    }

    .unread {
      height: 10px;
      width: 10px;
    }

    .nav-tabs .nav-link {
      &:focus {
        &::before {
          border: none !important;
        }
      }
    }
  }

  .notification-feedback-widget {
    right: -37px !important;
    position: fixed !important;
    transform: rotate(270deg) !important;
    top: 50% !important;
  }

  .height-inherit {
    height: inherit;
  }

  .line-height-normal {
    line-height: normal;
  }

  .notification-end-title {
    font-weight: $font-weight-semi-bold !important;
    color: $primary-500 !important;
  }

  .notification-icon {
    height: $icon-md !important;
    width: $icon-md !important;
    z-index: 1;
  }

  .icon-size-56 {
    width: 56px !important;
    height: 56px !important;
  }

  .icon-size-20 {
    width: $icon-sm;
    height: $icon-sm;
  }

  .line-height-24 {
    line-height: 24px;
  }

  .line-height-20 {
    line-height: 20px;
  }

  .line-height-10 {
    line-height: 10px !important;
  }

  .font-size-18 {
    font-size: $h4-font-size !important;
  }

  .content {
    strong {
      color: $primary-500 !important;
      font-weight: $font-weight-semi-bold !important;
    }
  }
}

.btn {
  font-size: 14px !important;
}
